@model VideoKlub.ViewModels.MovieRentalViewModel
@{
    ViewBag.Title = "NewRental";
}

<h2>NewRental</h2>

<table class="table table-bordered">
    <tr>
        <th>
            Movie details
        </th>
        <th>
            Rent this movie to user
        </th>
    </tr>
    <tr>
        <td>
            @Model.Name
        </td>
        <td rowspan="3">
            <form id="form">
                <div class="form-group">
                    @Html.DropDownList("UserId", new SelectList(Model.Users, "Id", "UserName"), "Select User", new { @class = "form-control" })
                    @*@Html.ValidationMessageFor(m => m.Users.Id)*@
                </div>
                <input type="hidden" name="MovieId" value="@Model.Id" />
                @*@Html.HiddenFor(m => m.Id)*@
                <button type="submit" id="rentMovie" class="btn btn-primary">Rent this movie to selected user</button>
            </form>
            </td>
        </tr>
    <tr>
        <td>
            Number Available: @Model.NumberAvailable
        </td>
    </tr>
    <tr>
        <td>
            @Model.Genre.Name
        </td>
        
    </tr>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#form').submit(function () {
                var serializedForm = $(this).serialize();
                $.ajax({
                    url: '/Api/Rentals',
                    type: "POST",
                    data: serializedForm,
                    success: function (result) {

                        alert("success ");
                    },
                    error: function (result) {
                        alert("Failed");
                    }

                });
                return false;
            });
        });
    </script>
}
